<h1>Application Form</h1>
<% unless @course.avatar_url.nil? %><%= image_tag @course.avatar_url(:display) %><% end %>
Apply for <%= @course.course_name %>

<%= form_with scope: :cart, url: post_apply_course_path, local: true do |form| %>
    <%=collection_select(:cart, :centre_id, @course.centres, :id, :centre_name, prompt: "Select Centre", :required => true) %>
    <%= form.submit(:class => "button-submit", :value => "Add to Cart") %>
<% end %>

<%= link_to "Back", courses_path %>