<h1>Courses Index</h1>


<% if @courses.empty? %>
  No Courses Found

<% else %>
<% @courses.each do |course| %>
  <div class="card" style="width: 30rem;">
    <% unless course.avatar_url.nil? %><%= image_tag course.avatar_url(:display) %><% end %> 
    <div class="card-body">
      <h5 class="card-title"><%= course.course_name%></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href=<%= course_path(course) %> class="btn btn-info">Preview</a>
      <a href=<%= edit_course_path(course) %> class="btn btn-warning">Edit</a>
      <%= link_to 'Delete', course_path(course),
          method: :delete,
          data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
  </div>
  
   <% end %>
  
<% end %>

<p>
<% if user_signed_in? %>
  <%= link_to 'Back', dashboard_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>

</p>