<% content_for :javascript_includes do %>
  <%= javascript_include_tag "course.js" %>
<% end %>
<h1>Courses Index</h1>


<% if @courses.empty? %>
  No Courses Found

<% else %>
<div>
  <div class="filtergrp">
    <button class="btn btn-primary openclose" id="filteragebtn">Age Group</button>
    <div class="form-popup" id="filterage">
    <input class="filterage" type="checkbox" value='3-5 years old'>3-5 years old</input><br>
    <input class="filterage" type="checkbox" value='6-10 years old'>6-10 years old</input><br>
    <input class="filterage" type="checkbox" value='11-13 years old'>11-13 years old</input><br>
    <button id="filteragesubmit" class="btn btn-primary">Filter!</button>

      </div>
  </div>
  <div class="filtergrp">
    <button class="btn btn-primary openclose" id="filtercatbtn">Category</button>
      <div class="form-popup" id="filtercat">
          <input class="filtercat" type="checkbox" value='Language'>Language</input><br>
          <input class="filtercat" type="checkbox" value='Music'>Music</input><br>
          <input class="filtercat" type="checkbox" value='Culture'>Culture</input><br>
          <input class="filtercat" type="checkbox" value='Science'>Science</input><br>
          <button id=" filtercatsubmit"class="btn btn-primary">Filter!</button>
      </div>
  </div>
</div>

<% @courses.each do |course| %>
  <div class="card" style="width: 30rem;">
    <% unless course.avatar_url.nil? %><%= image_tag course.avatar_url(:display) %><% end %> 
    <div class="card-body">
      <h5 class="card-title"><%= course.course_name%></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href=<%= course_path(course) %> class="btn btn-info">Preview</a>
      <% if user_signed_in? %>
          <a href=<%= edit_course_path(course) %> class="btn btn-warning">Edit</a>
          <%= link_to 'Delete', course_path(course),
          method: :delete,
          data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% elsif client_signed_in? %>
          <%= link_to 'Apply', apply_course_path(course), class: "btn btn-secondary"%>
      <% end %>
  </div>
  </div>
  
   <% end %>
  
<% end %>

<p>
<% if user_signed_in? %>
  <%= link_to 'Back', dashboard_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>

</p>