<div class="page-header-title">
	<span><i class="fa fa-pencil-square-o dashboard-home-icon-bg" aria-hidden="true"></i></span>
	<div class="d-inline">
		<h3>All Courses</h3>
	</div>
</div>

<!-- <div>
  <div class="filtergrp">
    <button class="btn btn-primary openclose" id="filterlocationbtn">Location</button>
    <div class="form-popup" id="filterlocation">
    <input class="filterlocation" type="checkbox" value='3-5 years old'>3-5 years old</input><br>
    <input class="filterlocation" type="checkbox" value='6-10 years old'>6-10 years old</input><br>
    <input class="filterlocation" type="checkbox" value='11-13 years old'>11-13 years old</input><br>
    <button class="btn btn-primary filterlocation">Filter!</button>

      </div>
  </div>
  <div class="filtergrp">
    <button class="btn btn-primary openclose" id="filtercatbtn">Category</button>
      <div class="form-popup" id="filtercat">
          <input class="filtercat" type="checkbox" value='Language'>Language</input><br>
          <input class="filtercat" type="checkbox" value='Enrichment'>Enrichment</input><br>
          <input class="filtercat" type="checkbox" value='Technology'>Technology</input><br>
          <input class="filtercat" type="checkbox" value='Science'>Science</input><br>
          <button class="btn btn-primary filterage">Filter!</button>
      </div>
  </div>
</div>
 -->
<% if @courses.empty? %>
  No Courses Found

	<% else %>
		<% if user_signed_in? %>

			<% @courses.each do |course| %>
		  <div class="card">
				<a href=<%= course_path(course) %>>
				<% unless course.avatar_url.nil? %><%= image_tag course.avatar_url(:display) %><% end %>
				</a>
				<div class="card-body">
		      <h5 class="card-title"><%= course.course_name%></h5>
						<div class="card-body-bottom">
							<span class="card-location">
								<%= course.category%>
							</span>
							<span class="card-icon">
								<a href=<%= edit_course_path(course) %>>
								<i class="fa fa-pencil" aria-hidden="true"></i>
								</a>
								<%= link_to ('<i class="fa fa-trash" aria-hidden="true"></i>').html_safe, course_path(course), method: :delete,
	          data: { confirm: 'Are you sure?' } %>
							</span>
						</div>
					</div>
				</div>
				<% end %>

			<% else %>

				<% @courses.each do |course| %>
				<% if course.centre_ids.length > 0 %>
					<div class="card">
						<a href=<%= course_path(course) %>>
						<% unless course.avatar_url.nil? %><%= image_tag course.avatar_url(:display) %><% end %>
						</a>
						<div class="card-body">
				      <h5 class="card-title"><%= course.course_name%></h5>

							<% if client_signed_in? %>
							 <%= link_to 'Apply', apply_course_path(course), class: "btn btn-secondary"%>
							 <% end %>

								<div class="card-body-bottom">
									<p><%= course.age %></p>
									<span class="card-location">
										<%= course.category%>
									</span>
								</div>
							</div>
						</div>

						<% end %>
					<% end %>
					<% end %>
					<% end %>