<% content_for :javascript_includes do %>
  <%= javascript_include_tag "preview_course.js" %>
<% end %>

<% if @course.errors.any? %>
<div class="alert alert-danger">
  <strong>Oh no!</strong>
  <%= @course.errors.full_messages.join("; ")  %>
</div>
<% end %>

<div class="form-main-wrapper">
	<h1>New Course</h1>
	<%= form_with scope: :course, url: courses_path, local: true do |form| %>
	<div class="form-input-wrapper">
		<div class="form-right">
				<ul>
					<li>
						<%= label_tag(:course_name, "Course Name") %>
			      <%= form.text_field :course_name, :required => true  %>
			    </li>
			    <li>
						<%= label_tag(:age, "Age") %>
					  <%= form.select(:age, options_for_select([['3-5 years old'], ['6-10 years old'], ['11-13 years old']]), {:prompt => 'Select Age Group'}, :class => "input-dropdown", :required => true ) %>
			    </li>
			    <li>
						<%= label_tag(:location, "Category") %>
				    <%= form.select(:category, options_for_select([['Language'], ['Music'], ['Culture'], ['Science']]), {:prompt => 'Select Category'}, :class => "input-dropdown", :required => true ) %>
			    </li>
			    <li>
			    	<%=	label_tag(:credits, "Credits") %>
			    	<%= form.text_field :credits, :required => true  %>
			    </li>
			    <li>
			    	<%= label_tag(:description, "Description") %>
			    	<%= form.text_area :description, :required => true, :maxlength =>"150"  %>
			    </li>
			    <li>
			    	<%= label_tag(:centre_name, "Offered @") %>
			    	<%= form.collection_check_boxes :centre_ids, @centres, :id, :centre_name %>
			    </li>
	    	</ul>
		</div>
		<div class="form-left">
			<%= form.file_field :avatar %>
			<div><img id="preview"/></div>
	  </div>
	</div>
		<%= form.submit(:class => "button-submit") %>
	<% end %>
</div>