<div class="row">

<div class="col-5">

<div class="preview_info full-border">
<h4><i class="fa fa-bookmark" aria-hidden="true"></i> Course Information for <%= @course.course_name %> </h4>
<br/>
<p>Offered @ 
<% @course.centres.each do |centre| %>
    <%= link_to centre.centre_name, centre_path(centre), class: "btn btn-info"%>
<% end %> 
</p>

<p>

<p>Description: 
<%= @course.description %></p>
<p>Age: 
<%= @course.age %></p>
<p>Category: 
<%= @course.category %></p>
<p>Credits: 
<%= @course.credits %></p>

<br/><br/>

<% if user_signed_in? %>
    <%= link_to 'Edit', edit_course_path %> |
    <%= link_to 'Back', dashboard_path %>

<% end %>
<% if client_signed_in? %>
    <%= link_to 'Apply', apply_course_path(@course), class: "btn btn-secondary"%>

<i class="fa fa-chevron-left" aria-hidden="true"></i> <%= link_to 'Back', courses_path %>
<% end %>
</p>
</div>

</div>

<% if user_signed_in? %>
<div class="col-6 preview_card">

<h4><i class="fa fa-eye" aria-hidden="true"></i> Preview of how it looks on the site</h4>

    <div class="card" style="width: 15rem;">
      
        <% unless @course.avatar_url.nil? %><img class="card-img-top" src="<%= @course.avatar %>" alt="Card image cap"><% end %>
        <div class="card-body">
            <b><h5 class="card-title"><%= @course.course_name %></h5></b>
            <p class="card-text"><%= @course.description %></p>
        </div>
        <div class="card-body">
            <span class="card-text"><%= @course.credits %> credits</span>
            <span class="card-text float-right"><%= @course.category %></span>
        </div>

    </div> 

</div>
<%else%>
    <div class="col-7">
    <div class="preview_card_bg"><% unless @course.avatar_url.nil? %><%= image_tag @course.avatar_url(:display)%><br /><% end %></div>
    </div>
<%end%>

</div>


