<% unless @course.avatar_url.nil? %><%= image_tag @course.avatar_url(:display) %><br /><% end %>

<p>Course Name: </p>
<%= @course.course_name %><br>
<p>Description: </p>
<%= @course.description %><br>
<p>Age: </p>
<%= @course.age %><br>
<p>Category: </p>
<%= @course.category %><br>
<p>Credits: </p>
<%= @course.credits %><br>
<p>Offered @ </p>



<% @course.centres.each do |centre| %>
    <%= link_to centre.centre_name, centre_path(centre), class: "btn btn-info"%>
<% end %>
<br>


<%= link_to 'Edit', edit_course_path %>
<%= link_to 'Back', dashboard_path %>