<%= form_with(model: parent, local: true) do |form| %>
  
  <br/><br/>
  
  <% if parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
      <% parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :salutation %>
    <%= form.select :salutation, ['Mr','Mrs','Mdm','Ms','Miss']%>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :contact_no %>
    <%= form.number_field :contact_no %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
