

<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong><p id="notice"><%= notice %></p></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<div class="row">
    <% @parents.each do |parent| %>
    <div class="col-3 div1">

    <% @parents.each do |parent| %>
      <h3><b>Welcome, <%= parent.salutation %> <%= parent.name %></b></h3> 
    <% end %>

    <br/>
    
    <h4>Contact Details &nbsp; <%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_parent_path(parent) %></h4> 
      
      <table>   
        <tbody>
        
            <tr><td>Salutation: <%= parent.salutation %></td></tr>
            <tr><td>Name: <%= parent.name %></td></tr>
            <tr><td>Contact: <%= parent.contact_no %></td></tr>
          
          <% end %>
        
        </tbody>
        
      </table>
      
      <% if (@parents.first == nil) %>
      <%= link_to 'Add Contact Details', new_parent_path %>
      <% end %>
      
    </div>
    <div class="col-7 div2">
    <br/>

    <div class="row">

      <h3><b>Current Available Courses</b></h3>
      
      <% @courses.each do |course| %>
      <div class="col-5">
      <div class="card" style="width: 14rem;">
      
      <img class="card-img-top" src="<%= course.avatar %>" alt="Card image cap">
      <div class="card-body">
        
        <h5 class="card-title"><%= course.course_name %></h5>
        <p class="card-text"><%= course.description %></p>
      </div>
      <div class="card-body">
        <span class="card-text"><%= course.credits %> credits</span>
        <span class="card-text float-right"><%= course.category %></span>
      </div>
      </div> 
      </div>
      <% end %>
       
      </div>      




    </div>
    </div>


</div>















