<p id="notice"><%= notice %></p>

<br/><br/><br/>

<h1>Parent Details</h1>

<table>
  <thead>
    <tr>
      <th>Saluatation</th>
      <th>Name</th>
      <th>Contact no</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parents.each do |parent| %>
      <tr>
        <td><%= parent.salutation %></td>
        <td><%= parent.name %></td>
        <td><%= parent.contact_no %></td>
        <td><%= link_to 'Show', parent %></td>
        <td><%= link_to 'Edit', edit_parent_path(parent) %></td>
        <td><%= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if (@parents.first == nil) %>
<%= link_to 'Add Parent', new_parent_path %>
<% end %>








