<h1>New Tuition Form </h1>
<%= form_with scope: :tuition, url: tuitions_path, local: true do |form| %>
    <p>
      Centre Name
      <%= form.text_field :centre_name, placeholder: "E.g. ABC Nursery" %>
    </p>
    <p>
      Business Registration No.
      <%= form.text_field :reg_no %>
    </p>
    <p>
      Contact No
      <%= form.text_field :contact_no %>
    </p>
    <p>
      Location
      <%= form.text_area :location %>
    </p>
    <p>
      Description
      <%= form.text_area :description %>
    </p>
  
    <legend>Avatar</legend>
    <%= form.file_field :avatar %>

    <p>
      <%= form.submit %>
    </p>
<% end %>

<%= link_to 'Back', root_path %>
