<!--
<div class style="margin: 2rem">
<h1><%= current_user.company_name %>'s Dashboard</h1>
<a href=<%= centres_path %> class="btn btn-info">All Centres</a>
<a href=<%= courses_path %> class="btn btn-info">All Courses</a>
<a href=<%= new_centre_path %> class="btn btn-dark">+ Add Centre</a>
<a href=<%= new_course_path %> class="btn btn-dark">+ Add Course</a>
</div>
 -->

<div class="page-header-title">
	<span><i class="fa fa-columns dashboard-home-icon-bg" aria-hidden="true"></i></span>
	<div class="d-inline">
		<h3>Dashboard</h3>
	</div>
</div>

<div class="tab">
  <div class="tab-centres">
    <h3>Centres</h3>
  </div>
  <div class="tab-course">
    <h3>Courses</h3>
  </div>
</div>

<% @centres.each do |centre| %>
	<div class="dashboard-centre-wrapper">

		<div class="dashboard-centre">
			<div class="card">
				<a href=<%= centre_path(centre) %>>
					<% unless centre.avatar_url.nil? %><%= image_tag centre.avatar_url(:display) %><% end %>
				</a>
				<div class="card-body">
			    <h5 class="card-title"><%= centre.centre_name%></h5>
			    <div class="card-body-bottom">
			    	<span class="card-location">
			    		<%= centre.location%>
			    	</span>
				    <span class="card-icon">
					    <a href=<%= edit_centre_path(centre) %>>
				    	<i class="fa fa-pencil" aria-hidden="true"></i>
					    </a>

					    <%= link_to	('<i class="fa fa-trash" aria-hidden="true"></i>').html_safe, centre_path(centre),
					    method: :delete,
					    data: { confirm: 'Are you sure?' } %>
					  </span>
					</div>
				</div>
			</div>
		</div>

		<div class="dashboard-course">
			<% centre.courses.each do |course| %>
			<div class="card card-course">
				<a href=<%= course_path(course) %>>
				<% unless course.avatar_url.nil? %><%= image_tag course.avatar_url(:display) %><% end %>
				</a>
				<div class="card-body">
			    <h5 class="card-title"><%= course.course_name%></h5>
			    <div class="card-body-bottom">
			    	<span class="card-location">
			    		<%= course.category%>
			    	</span>
				    <span class="card-icon">
					    <a href=<%= edit_course_path(course) %>>
				    	<i class="fa fa-pencil" aria-hidden="true"></i>
					    </a>

			        <%= link_to ('<i class="fa fa-trash" aria-hidden="true"></i>').html_safe, remove_course_path(centre, course), method: :patch, data: { confirm: 'Are you sure?' } %>
					  </span>
					</div>
				</div>
			</div>
			<% end %>
		</div>

</div>
<% end %>









<!--
<% @centres.each do |centre| %>
<div class="row paddingbot">

  <div class="col-4 bg-secondary">
  <div class="card" style="width: 25rem;">
    <% unless centre.avatar_url.nil? %><%= image_tag centre.avatar_url(:display) %><% end %>
    <div class="card-body" ">
	    <h5 class="card-title"><%= centre.centre_name%></h5>
	    <p class="card-text"><%= centre.description %></p>
	    <a href=<%= centre_path(centre) %> class="btn btn-info">Preview</a>
	    <a href=<%= edit_centre_path(centre) %> class="btn btn-warning">Edit</a>
	    <%= link_to 'Delete', centre_path(centre),
	    method: :delete,
	    data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  </div>

  </div>
  <div class="col-6 bg-secondary">
  <% centre.courses.each do |course| %>
    <div class="col-6 col-sm-4">
    <div class="card" style="width: 20rem;">
    <div class="card-body" ">
    <h5 class="card-title"><%= course.course_name%></h5>
    <p class="card-text"><%= course.description %></p>
    <a href=<%= course_path(course) %> class="btn btn-info">Preview</a>
    <a href=<%= edit_course_path(course) %> class="btn btn-warning">Edit</a>
    <%= link_to 'Remove from Course', remove_course_path(centre, course), method: :patch,
    data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
    </div>
    </div>

    <% end %>
  </div>
</div>
<% end %>
 -->