<% if @centre.errors.any? %>
<div class="alert alert-danger">
  <strong>Oh no!</strong>
  <%= @centre.errors.full_messages.join("; ")  %>
</div>
<% end %>

<h1>Edit Tuition Centre Particulars</h1>

<%= form_with scope: :centre, model: @centre, local: true do |form| %>

  <p>
    <%= form.label :centre_name %><br>
    <%= form.text_field :centre_name, :value => @centre.centre_name, :required => true %>
  </p>

  <p>
      Business Registration No.
      <%= form.text_field :reg_no, :value => @centre.reg_no , :required => true %>
    </p>
    <p>
      Contact No
      <%= form.text_field :contact_no, :value => @centre.contact_no, :required => true %>
    </p>
    <p>
      Location
      <%= form.text_area :location, :value => @centre.location, :required => true %>
    </p>
    <p>
      Description
      <%= form.text_area :description, :value => @centre.description, :required => true, :maxlength =>"150" %>
    </p>

    <p>Offer Course(s):
    <%= form.collection_check_boxes :course_ids, @courses, :id, :course_name %>
    </p>

  <p>
    <legend>Avatar</legend><br>
    <%= form.file_field :avatar %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', dashboard_path %>