<% content_for :javascript_includes do %>
  <%= javascript_include_tag "centre.js" %>
<% end %>

<div class="page-header-title">
	<span><i class="fa fa-university dashboard-home-icon-bg" aria-hidden="true"></i></span>
	<div class="d-inline">
		<h3>All Centres</h3>
	</div>
</div>

<% if !user_signed_in? %>
<div>
	<div class="filtergrp">
	  <button class="btn btn-primary openclose" id="filterlocationbtn">Location</button>
	  <div class="form-popup" id="filterlocation">
	  <input class="filterlocation" type="checkbox" value='North'>North</input><br>
	  <input class="filterlocation" type="checkbox" value='South'>South</input><br>
	  <input class="filterlocation" type="checkbox" value='East'>East</input><br>
	  <input class="filterlocation" type="checkbox" value='West'>West</input><br>
	  <button id="filterlocationsubmit" class="btn btn-primary">Filter!</button>
	</div>
  </div>
  <button class="btn btn-info openclose" id="resetfilter">Reset Filter</button>
</div>
<% end %>

<% if @centres.empty? %>
  No Centres Found
	<% else %>

	<% @centres.each do |centre| %>
	  <div class="card">
	  	<a href=<%= centre_path(centre) %>>
	    <% unless centre.avatar_url.nil? %><%= image_tag centre.avatar_url(:display) %><% end %>
		  </a>
	    <div class="card-body">
	      <h5 class="card-title"><%= centre.centre_name%></h5>
			    <div class="card-body-bottom">
			    	<span class="card-location">
			    		<%= centre.location%>
			    	</span>
				    <span class="card-icon">
					    <a href=<%= edit_centre_path(centre) %>>
				    	<i class="fa fa-pencil" aria-hidden="true"></i>
					    </a>

					    <%= link_to	('<i class="fa fa-trash" aria-hidden="true"></i>').html_safe, centre_path(centre),
					    method: :delete,
					    data: { confirm: 'Are you sure?' } %>
					  </span>
					</div>
	    </div>
	  </div>

	   <% end %>

	<% end %>
