
<div class="page-header-title">
	<span><i class="fa fa-university dashboard-home-icon-bg" aria-hidden="true"></i></span>
	<div class="d-inline">
		<h3>All Centres</h3>
	</div>
</div>


<% if @centres.empty? %>
  No Centres Found
	<% else %>

	<% @centres.each do |centre| %>
	  <div class="card">
	  	<a href=<%= centre_path(centre) %>>
	    <% unless centre.avatar_url.nil? %><%= image_tag centre.avatar_url(:display) %><% end %>
	    <div class="card-body">
	      <h5 class="card-title"><%= centre.centre_name%></h5>
	      <a href=<%= centre_path(centre) %> class="btn btn-info">Preview</a>
	      <a href=<%= edit_centre_path(centre) %> class="btn btn-warning">Edit</a>
	      <%= link_to 'Delete', centre_path(centre),
	          method: :delete,
	          data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
	    </div>
	  </div>

	   <% end %>

	<% end %>

<p>
<% if user_signed_in? %>
<%= link_to 'Back', dashboard_path %>

<% else %>

<%= link_to 'Back', root_path %>

<% end %>
</p>