<div class="form-main-wrapper">
<h1>New Centre Form </h1>
		<%= form_with scope: :centre, url: centres_path, local: true do |form| %>
	<div class="form-input-wrapper">
			<div class="form-right">
		    <%= label_tag(:centre_name, "Centre Name") %>
		    <%= form.text_field :centre_name, placeholder: "E.g. ABC Nursery" %>

		    <%= label_tag(:reg_no, "Registration No") %>
	      <%= form.text_field :reg_no %>

	      <%= label_tag(:contact_no, "Contact Number") %>
		    <%= form.text_field :contact_no %>

				<%= label_tag(:location, "Location") %>
		    <%= form.text_field :location %>

		    <%= label_tag(:description, "Description") %>
		    <%= form.text_area :description %>
		  </div>
			<div class="form-left">
		    <%= form.file_field :avatar %>
		  </div>
	</div>
		  <p><%= form.submit %></p>
	<% end %>
<%= link_to 'Back', root_path %>
</div>