<% if @centre.errors.any? %>
<div class="alert alert-danger">
  <strong>Oh no!</strong>  
  <%= @centre.errors.full_messages.join("; ")  %>
</div>
<% end %>



<div class="form-main-wrapper">
<h1>New Centre </h1>
		<%= form_with scope: :centre, url: centres_path, local: true do |form| %>
	<div class="form-input-wrapper">
			<div class="form-right">
				<ul>
					<li>
				    <%= label_tag(:centre_name, "Centre Name") %>
				    <%= form.text_field :centre_name, placeholder: "E.g. ABC Nursery", :required => true %>
				  </li>
				  <li>
				    <%= label_tag(:reg_no, "Registration No.") %>
			      <%= form.text_field :reg_no, :required => true %>
			    </li>
			    <li>
						<%= label_tag(:location, "Location") %>
				    <%= form.select(:location, options_for_select([['North'], ['South'], ['East'], ['West']]), {:prompt => 'Select Person'} ) %>
				  </li>
				  <li>
			      <%= label_tag(:contact_no, "Contact No.") %>
				    <%= form.text_field :contact_no, :required => true %>
				  </li>
				  <li class="form-description">
				    <%= label_tag(:description, "Description", :class => "label-description") %>
				    <%= form.text_area :description, :required => true, :maxlength =>"150" %>
				  </li>
			  </ul>
		  </div>
			<div class="form-left">
		    <%= form.file_field :avatar %>
		  </div>
	</div>
		  <%= form.submit(:class => "button-submit") %>
	<% end %>
</div>

<%= link_to 'Back', dashboard_path %>