<div class="row">

<div class="col-5">

<div class="preview_info full-border">
<h4><i class="fa fa-bookmark" aria-hidden="true"></i> <%= @centre.centre_name%> <br/>(Registration No:
<%= @centre.reg_no%>)</h4> <br/>

<p> What are the offered courses? <br/><br/> 
<% @centre.courses.each do |course| %>
    <%= link_to course.course_name, course_path(course), class: "btn btn-info"%>
<% end %></p>

<p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @centre.location%></p>
<p><i class="fa fa-phone" aria-hidden="true"></i>
<%= @centre.contact_no%></p>
<p><u>Description</u><br/>
<%= @centre.description%></p>

<br>

<p>
<% if user_signed_in? %>
    <%= link_to 'Edit', edit_centre_path %> |
    <%= link_to 'Back', dashboard_path %>
    
<% else %>
    <i class="fa fa-chevron-left" aria-hidden="true"></i> <%= link_to 'Back', centres_path %>
<% end %>
</p>
</div>

</div>

<div class="col-7">
    <div class="preview_card_bg"><% unless @centre.avatar_url.nil? %><%= image_tag @centre.avatar_url(:display)%><br /><% end %></div>
</div>

</div>